:root {
    --beige:#e6e6d9;
    --lite-beige:#f3f3e6;
    --orange:#f26f21;
}

body {
    margin: 0;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

.common-padd{
    padding-left: 30px;
    padding-right: 30px;
}

.nav-bar{
    display: flex;
    align-items: center;
    background-color: var(--lite-beige);
    padding: 5px 85px;
    /* width: 100%; */
    /* position: fixed; */
}

.nav-bar div {
    width: 100%;
}

.nav-bar img {
    max-height: 80px;
    height: auto;
}

.nav-bar ul{
    float: right;
    display: flex;
    list-style-type: none;
    float: right;
}

.nav-bar li {
    padding-right: 45px;
    /* display: flex; */
    /* align-items: center; */
}

/* .nav-bar li:last-child{
    font-size: 30px;
    margin: 0;
    transform: rotate(90deg);
} */

.content {
    background-color: var(--lite-beige);
}

.banner img {
    width:100%;
}

.slogan {
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
    color: var(--orange);
    margin: 0 180px;
}

.slogan h2 {
    font-size: 40px;
    font-weight: 300;
    margin: 0;
    line-height: 1;
}

.slogan h4 {
    font-size: 20px;
    font-weight: 300;
    margin: 25px 0 0 0;
}

.heading {
    display: flex;
    align-items: center;
    color: var(--orange);
}

.heading p {
    white-space: nowrap;
    font-size: 50px;
    font-weight: 300;
}

hr {
    border-top: 1px solid var(--orange);
    width: 100%;
    height: 0%;
}

.models {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 180px;
    column-gap: 40px;
    row-gap: 50px;
}

.models img {
    max-width: 100%;
    height: auto;

}

/* .models img:hover {
    transition: opacity 1s,transform 1s;
    transform: scale3d(1.1,1.1,1);
} */

.models h4 {
    margin: 0;
    text-align: center;
    font-size: 20px;
    line-height: 1;
    color: var(--orange);
    font-weight: 300;
}

.models div:nth-child(3) {
    color: #747474;
    text-align: justify;
    margin: 10px 0 15px;
    line-height: 24px;
    font-size: 17px;
}

.models div:nth-child(4) {
    padding-bottom: 20px;
    text-align: center;
}

.models a {
    padding: 13px 29px;
    background-color: var(--orange);
    text-align: center;
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer div:nth-child(1) {
    background-color: #e5567d;
}

.footer div:nth-child(2) {
    background-color: var(--orange);
}

.footer h4 {
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 0;
}

.footer p {
    text-align: center;
    margin: 0;
    padding: 18px 0;
    font-size: 12px;
}

.footer span {
    color: white;
}